/out
/deps/duv/
/deps/events.d/
.dub
/examples/http_body/http_body
/examples/http_client/http_client
/examples/http_example/http_example
/examples/http_serv/http_serv
/examples/loop_example/loop_example
/examples/tcp_client/tcp_client
/examples/dns_resolver/dns_resolver
/examples/http_get/http_get_client
